body{ font-family: Arial !important;}
input{ box-shadow: 0 0 0 }
img {max-width: 100%; }
a { text-decoration: none !important;}
#user, #pass{ border-radius: 10px; width: 400px; line-height: 18px; }
.arancione{ color: #FFA042; font-weight: 700; }
.light-black{ color: #333333 !important; }
.dark-gray{ color: #86868B !important; }
.left { text-align: left !important;}
/****************************/
.emas.login .welcome-title{font-family: Arial; font-style: normal; font-weight: bold; font-size: 55px; line-height: 50px; letter-spacing: -0.03em; color: #333333;}
.emas.login .welcome-text{font-family: Arial; font-style: normal; font-weight: normal; font-size: 20px; line-height: 23px; color: #000000; margin-top: 20px;}
.emas.login .form-login { margin-top: 75px; padding-bottom: 100px;}
.emas.login .form-login-sign-in{ font-family: Arial; font-style: normal; font-weight: bold; font-size: 48px; line-height: 50px; letter-spacing: -0.03em; font-feature-settings: 'kern' off; color: #FFFFFF; text-align: center;}
.emas.login .form-login-sign-in-text{ font-family: Arial; font-style: normal; font-weight: normal; font-size: 12px; line-height: 14px; text-align: center; letter-spacing: 0.02em; color: #FFFFFF; margin-bottom: 15px;}
.emas.login [for="user"], .emas.login [for="pass"] {display: none; }
.emas.login .login-remember{ display: none; }
.emas.login input[type="submit"]{ width: 157px; height: 37px; background: #FFA042; border-radius: 30px; }
.emas.login .login-submit { text-align: center; }
/****************************/
.menu-wrapper {  display: flex; justify-content: space-between; }
.arancio{
    font-style: normal; font-weight: 400; font-size: 17px; line-height: 20px; letter-spacing: 0.02em; color:#FFA042; font-weight: 700;
}
.container { margin-top: 33px;  }
/***************************/
.stage-wrapper{ position: relative; margin-top: 60px; }
#score_wrapper{
    position:absolute;
    top: -90px;
    right: 150px;
    z-index: 10;
    width: 350px;
    height: 244px;
}
#score_wrapper p{
    text-align: center;
    margin-bottom: 60px;
}
#circonferenza{
    margin: auto;
    width: 250px;
    height: 250px;
    border: 0px solid #000;
    position: relative;
    background-image: url('../images/emas/relative-meter-scale.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
#points{
    width: 190px;
    height: 190px;
    margin: auto;
    border-radius: 95px;
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 27px;
}
#points .point{
    color: #FD9727;
    text-align: center;
    margin-left: 1px;
    margin-top: 74px;
    margin-bottom: 0;
    font-size: 51px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
}
#points .testo{
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
    margin-bottom: 0.5rem;
}

 #wrapper_circonferenza{
    background-size: 339px 339px;
    background-position-x: 0;
    background-position-y: 3px;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    width: 350px;
    height: 350px;
    }
 #circonferenza{
    margin-top: 47px !important;
    margin-left: 45px;
}
 #score_wrapper {
    height: 350px;
}
.messages{ position: absolute; top: -40px; left: 185px; width: 50%; }

#you_wrapper{
    margin: 0px;
    width: 248px;
    height: 248px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    -webkit-animation-duration:2s;
    animation-fill-mode: forwards;
}
#you{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    top: 200px;
    left: 30px;
    z-index: 4;
}
#first{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    top: 195px;
    left: 190px;
    z-index: 3;
}
#first_text{
    position: absolute;
    top: 196px;
    left: 220px;
    z-index: 3;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
}
#last{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: black;
    position: absolute;
    top: 203px;
    left: 35px;
    z-index: 3;
}
#last_text{
    position: absolute;
    top: 196px;
    left: -20px;
    z-index: 3;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
}
#you_text { display: none; position: absolute; z-index: 5;
    font-family: Arial;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0.02em;
    color: #FFF;
    }
/***************************************************************/
.footer{ margin-top: 60px !important; padding-top: 60px; border-top: 1px solid #EFEFEF; justify-content: space-between; }
.footer .ll{ font-size: 20px; font-weight: 400; margin-top: 18px; }
.footer .destra{ text-align: right; }
.footer img{ width:270px; }
/**/
.submit-idea-button{
    height: 37px;
    width: 176px;
    border-radius: 30px;
    background-color: #FFA042;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: block;
    /*align-items: center;*/
    text-align: center;
    letter-spacing: 0.04em;
    color: #333333;
    padding: 10px 0;
}
.submit-idea-button:hover, .submit-idea-button:visited, .submit-idea-button:active{
    color: #333333 !important;
}


.wrapper_funding { position: relative; }
.wrapper_funding_idea{ display: flex;}
.wrapper_funding_idea .idea_title { background-color: #EFEFEF; border-radius: 5px; padding: 5px; margin-bottom: 5px; width: 570px; cursor: pointer;}
.wrapper_funding_idea .idea_buttons { width: 200px; padding: 0 5px; display: flex; flex-grow: 1;}
.myval { background-color: #FFA042; color: #FFF; border-radius: 5px; padding: 5px; width: 30px; height: 28px; }
.minus, .plus{ padding: 0 5px; width: 30px; cursor: pointer; font-size: 18px; line-height: 28px; }


#celebration{ position: absolute; width: 100%; z-index: 100;}
.winner-title{ font-family: Arial; font-style: normal; font-weight: bold; font-size: 48px; line-height: 50px; letter-spacing: -0.03em; font-feature-settings: 'kern' off; color: #333333;}
.winner-text{ font-family: Arial; font-style: normal; font-weight: normal; font-size: 17px; line-height: 20px; letter-spacing: 0.02em; color: #333333; width: 683px;  padding: 20px 30px 40px 0;}
.winner_ideas{ padding: 100px 52px 0 52px; background-size: 683px 417px; width: 683px; height: 417px; margin-bottom: 25px; }
.winner_ideas_1{ background-image:url('/wp-content/uploads/1st-place.png');  }
.winner_ideas_2{ background-image:url('/wp-content/uploads/finalists-background.png');  background-size: 683px 794px; height: 850px; background-repeat: no-repeat;  }
.winner_ideas_3{ background-image:url('/wp-content/uploads/3rd-place.png'); }
.winner_title_idea{ font-family: Arial; font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; letter-spacing: -0.03em; color: #333333;}
.winner_text_idea{ font-family: Arial; font-style: normal; font-weight: normal; font-size: 17px; line-height: 20px; letter-spacing: 0.02em; color: #333333; margin-top: 20px; margin-bottom: 30px;}
.winner_title_ideator{ font-family: Arial; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; letter-spacing: -0.03em; color: #FFFFFF; margin-top: 20px; margin-bottom: 10px;}
.winner_text_ideator{ font-family: Arial; font-style: normal; font-weight: bold; font-size: 17px; line-height: 20px; letter-spacing: 0.02em; color: #333333;}
.winner_players_header{ display: flex;}
.winner_players_body{ display: flex;}
.winner_players{ font-family: Arial; font-style: normal; font-weight: bold; font-size: 21px; line-height: 24px; align-items: center; color: #333333; }
.winner_header_r, .winner_players_body_r{ width: 83px; padding: 5px;}
.winner_header_n, .winner_players_body_n{ width: 470px; padding: 5px;}
.winner_header_s, .winner_players_body_s{ width: 130px; padding: 5px;}
.winner_header_s { border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.winner_players_body_s{ text-align: center; }
.wpb1{ background-color: #B29DE1; }
.wpb2{ background-color: #CFC3EC; }
.wpb3{ background-color: #E9E3F6; }
.wpb4, .wpb5, .wpb6, .wpb7, .wpb8, .wpb9, .wpb10{ background-color: #EFEFEF; }
.wpb1.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb2.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb3.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb4.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb5.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb6.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb7.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb8.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb9.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb10.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }

.winner_players_body1 .winner_players_body_r{ border-bottom-left-radius: 5px; }
.winner_players_body2 .winner_players_body_r{ border-bottom-left-radius: 5px; }
.winner_players_body3 .winner_players_body_r{ border-bottom-left-radius: 5px; }
.winner_players_body4 .winner_players_body_r{ border-bottom-left-radius: 5px; }
.winner_players_bodyx:nth-child(2) .winner_players_body_r{ border-bottom-left-radius: 5px; }
.winner_players_body:last-child .winner_players_body_r{ border-bottom-left-radius: 5px; }

.winner_players_body1, .winner_players_body2, .winner_players_body3, .winner_players_body4, .winner_players_body5, .winner_players_body6, .winner_players_body7, .winner_players_body8, .winner_players_body9, .winner_players_body10{ margin-top: 5px;}
/***********************************EMAS*/
.emas .stage-wrapper{ margin-top: 0 !important; }

.title-emas-blu{font-family: Arial;font-style: normal;font-weight: bold;font-size: 18px;line-height: 21px;letter-spacing: -0.03em;color: #007CBC;}
.title-emas-nero{font-family: Arial;font-style: normal;font-weight: bold;font-size: 20px;line-height: 23px;letter-spacing: -0.03em;color: #333333; border-top: 1px solid #000; padding-top: 5px;}
.subtitle-emas{font-family: Arial;font-style: normal;font-weight: normal;font-size: 10px;line-height: 11px;letter-spacing: 0.03em;color: #000000;}

.wrapper-category{background: rgba(204, 67, 75, 0.1); border-radius: 20px; display: flex; margin-top: 90px; height: 68px;}
.wrapper-category .category-name{background: #CC434B; border-radius: 20px; font-family: Arial;font-style: normal;font-weight: bold;font-size: 48px;line-height: 68px;letter-spacing: -0.03em;font-feature-settings: 'kern' off;color: #FFFFFF; margin-left: -10px; padding: 0 20px;}
.wrapper-category .category-desc{font-family: Arial; font-style: normal; font-weight: bold; font-size: 16px; line-height: 18px; text-align: center; letter-spacing: -0.03em; color: #CC434B; align-items: center; display:flex; justify-content: center; }
.wrapper-category .category-name-1{ width: 374px;}
.wrapper-category .category-name-2{ width: 205px;}
.wrapper-category .category-name-3{ width: 295px;}
.wrapper-category .category-desc-1{ width: 775px;}
.wrapper-category .category-desc-2{ width: 950px;}
.wrapper-category .category-desc-3{ width: 860px;}

.problems-list-title, .solutions-list-title{font-family: Arial;font-style: normal;font-weight: bold;font-size: 24px;line-height: 28px;letter-spacing: -0.03em;color: #333333;}
.problems-wrapper{ margin-top: 50px;}
.single-problem{ background: #EFEFEF; border-radius: 5px; margin-top: 30px; padding: 16px; }
.single-problem .problem{ display: flex;}
.single-problem .problem .problem-counter{ width: 30px; font-family: Arial; font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; letter-spacing: -0.03em; color: #333333; margin-right: 5px;}
.single-problem .problem .problem-text{font-family: Arial;font-style: normal;font-weight: normal;font-size: 17px; line-height: 20px; letter-spacing: 0.02em; color: #333333;}
.problem-form{ margin-top: 50px; padding-top: 30px; border-top: 5px dashed #EFEFEF; }
.emas textarea{ border: 2px dashed #86868B; box-sizing: border-box; border-radius: 5px;font-family: Arial; font-style: normal;  font-weight: normal; font-size: 17px; line-height: 20px; letter-spacing: 0.02em; color: #333333; width: 100%; padding: 8px;}
.wrapper-after-textarea{ display:flex; justify-content: space-between; margin-top: 16px;}
input[type="submit"].submit-idea-button, input[type="button"].btn-orange{ background: #FFA042; border-radius: 30px;font-family: Arial; font-style: normal; font-weight: normal; font-size: 16px; line-height: 18px; text-align: center; letter-spacing: 0.04em; color: #333333; }
.single-problem-edit { margin-top: 30px; border: 2px dashed #FFA042; box-sizing: border-box; border-radius: 5px; }
.single-problem-edit textarea{ border:0; }
.single-problem-edit .wrapper-after-textarea{ margin: 12px;}
.solutions-wrapper{ margin-top: 50px;}
.single-solution{ background: #FFE1C3; border-radius: 5px; margin-top: 30px; padding: 16px; }
.single-solution .solution{ display: flex;}
.single-solution .solution .solution-counter{ width: 30px; font-family: Arial; font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; letter-spacing: -0.03em; color: #333333; margin-right: 5px;}
.single-solution .solution .solution-text{font-family: Arial;font-style: normal;font-weight: normal;font-size: 17px; line-height: 20px; letter-spacing: 0.02em; color: #333333;}
.single-solution-edit { margin-top: 30px; border: 2px dashed #FFA042; box-sizing: border-box; border-radius: 5px; }
.single-solution-edit textarea{ border:0; }
.single-solution-edit .wrapper-after-textarea{ margin: 12px;}
.emas.solution .problem-counter, .emas.rating .problem-counter{ display: none; }
.solution .button-solution{ display: none; }
.rating .button-solution{ margin-left: 30px; margin-top: 24px; display: flex;  }
.rating .button-solution .reject-solution{ display: block; background-image: url('../images/emas/check-ko.png'); background-repeat: no-repeat; background-position: center left; background-size: 30px; padding-left: 35px; height: 30px; line-height: 30px; font-family: Arial; font-style: normal; font-weight: bold; font-size: 18px; letter-spacing: -0.03em; color: #CC434B; }
.rating .button-solution .accept-solution{ display: block; background-image: url('../images/emas/check-ok.png'); background-repeat: no-repeat; background-position: center left; background-size: 30px; padding-left: 35px; height: 30px; line-height: 30px; font-family: Arial; font-style: normal; font-weight: bold; font-size: 18px; letter-spacing: -0.03em; color: #000000; margin-left: 20px }
#solutions-list-accepted .single-solution{ background: #F1F8D9; }
#solutions-list-accepted .single-solution .solution-text{ width: 90%; max-width: 940px; }
#solutions-list-rejected .single-solution{ background-color: rgba(204, 67, 75, 0.3); }
#solutions-list-rejected .accept-solution { margin-left: 0; }
.rating .single-solution { background-color: #FFF295; }
.investor .single-solution { background-color: #F1F8D9; }
.investor .solution .solution-text{ width: 972px; }
.investor .solution .idea_buttons{ width: 100px; height: 100px; display: flex; background-color: #FFF; border-radius: 100px; margin:10px; padding-top: 34px; border: 2px solid #BBDD3F;  }
.solutions-shortlisted-wrapper{ position: relative; }
.solutions-shortlisted-wrapper .submit-idea-button{ display: block; margin: auto; }
.investor-post { margin-top: 75px; }
.investor-post h1{font-family: Arial;  font-style: normal; font-weight: bold; font-size: 48px; line-height: 50px; text-align: center; letter-spacing: -0.03em; color: #333333;}
.investor-post p{font-family: Arial;  font-style: normal; font-weight: bold; font-size: 30px; line-height: 34.5px; text-align: center; letter-spacing: -0.03em; color: #333333; margin-top: 24px;;}

.container.emas.footer-login{ margin-top: 0;  }
.container.emas.footer-login .footer { margin-top: 0 !important; border-top: 0 !important;  }
.form-login-link{ text-align: center; margin-top: 20px; }
.form-login-link a{font-family: Arial; font-style: normal; font-weight: normal; font-size: 16px;  line-height: 38px; display: block; text-align: center; letter-spacing: 0.04em; color: #333333; width: 178px; height: 37px; background: #FFA042; border-radius: 30px; margin: auto; }
#solutions-list-accepted .solution{ position: relative; }
#solutions-list-accepted .solution .shortlist{ position: absolute; top: 15px; right: 20px; }
.emas #score_wrapper{ right: 0 !important; }
.emas-winning-title{ font-family: Arial; font-style: normal;  font-weight: bold; font-size: 48px; line-height: 50px;  text-align: center; letter-spacing: -0.03em; font-feature-settings: 'kern' off; color: #333333;}
.emas_winner_players_body_r{ width: 150px; text-align: right; }
.emas_winner_players_body_n{ width: 750px; margin:0 20px; font-family: Arial; font-style: normal; font-weight: normal; font-size: 17px; line-height: 20px; display: flex; align-items: center; letter-spacing: 0.02em; color: #333333;}
.emas_winner_players_body_s { text-align: center; width: 300px; }
.emas_winner_players_body_s .wteam{ /*width: 50px;*/ text-align: center; background: #FFFFFF; border: 1px solid #BDABE5; box-sizing: border-box;  border-radius: 10px; font-family: Arial; font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; text-align: center; letter-spacing: -0.03em; color: #9173D4; padding: 6px; height: 42px; }

.emas_winner_players_body_r.red{ color: #CC434B; }
.emas_winner_players_body_n.red{ color: #CC434B; }
.emas_winner_players_body_s.red{ color: #CC434B;  }

.emas_winner_players_body{ margin-bottom: 30px; display: flex; }
.emas-winning-categories-title{ font-family: Arial; font-style: normal; font-weight: bold; font-size: 26px; line-height: 30px; text-align: center; color: #9173D4; }
.emas-winning-categories-text{ font-family: Arial; font-style: normal; font-weight: normal; font-size: 16px; line-height: 18px; text-align: center; color: #000000; }
.emas-winning-categories-wrapper{ display: block; text-align: center; }
.emas-winning-categories-w{ display: flex; background: #9173D4; border-radius: 10px; padding: 16px; width: 210px;font-family: Arial; font-style: normal; font-weight: bold; font-size: 50px; line-height: 57px; display: block; text-align: center;   color: #FFFFFF; margin: 10px auto; }
.emas-winning-categories-ww{ display: flex; background: #B29DE1; border-radius: 10px; padding: 16px; width: 210px;font-family: Arial; font-style: normal; font-weight: bold; font-size: 50px; line-height: 57px; display: block; text-align: center; color: #FFFFFF; margin: 10px auto; }
.emas-winning-categories-www{ display: flex; background: #CFC3EC; border-radius: 10px; padding: 16px; width: 210px;font-family: Arial; font-style: normal; font-weight: bold; font-size: 50px; line-height: 57px; display: flex; align-items: center;   color: #FFFFFF; margin: 10px; }
.emas-winning-categories-w-pool{ display: flex; background: #9173D4; border-radius: 10px; padding: 16px; width: 150px;font-family: Arial; font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; letter-spacing: -0.03em; color: #FFFFFF; height: 60px;}
.bonus-points{font-family: Arial; font-style: normal; font-weight: bold; font-size: 130px; line-height: 149px; text-align: center; color: #FD9727; width: 760px; background-color: #000; border-radius: 40px; position: fixed; bottom: 40px; left: 50%; transform: translateX(-50%); display: none;}
.emas .menu-wrapper-2{ margin-bottom: 30px; }
.emas #score_wrapper{ top: -70px;}
