.container{ margin-top: 30px; }
img{ max-width: 100%;}
a{ text-decoration: none;}
a:hover{ color: #000 !important; }
/*login page*/
.emas.login .welcome-title{font-family: Arial; font-style: normal; font-weight: bold; font-size: 55px; line-height: 50px; letter-spacing: -0.03em; color: #333333;}
.emas.login .welcome-text{font-family: Arial; font-style: normal; font-weight: normal; font-size: 20px; line-height: 23px; color: #000000; margin-top: 20px;}
.emas.login .form-login { margin-top: 75px; padding-bottom: 100px;}
.emas.login .form-login-sign-in{ font-family: Arial; font-style: normal; font-weight: bold; font-size: 48px; line-height: 50px; letter-spacing: -0.03em; font-feature-settings: 'kern' off; color: #FFFFFF; text-align: center;}
.emas.login .form-login-sign-in-text{ font-family: Arial; font-style: normal; font-weight: normal; font-size: 12px; line-height: 14px; text-align: center; letter-spacing: 0.02em; color: #FFFFFF; margin-bottom: 15px;}
.emas.login [for="user"], .emas.login [for="pass"] {display: none; }
.emas.login .login-remember{ display: none; }
.emas.login input[type="submit"]{ width: 157px; height: 37px; background: #FFA042; border-radius: 30px; border: 0; }
.emas.login .login-submit { text-align: center; }
#user, #pass{ border-radius: 10px; width: 400px; line-height: 18px; padding: 6px; border: 0; }
/*header*/
.menu-wrapper {  display: flex; justify-content: space-between; }
.emas .menu-wrapper-2{ margin-bottom: 30px; }
.title-emas-blu{font-family: Arial;font-style: normal;font-weight: bold;font-size: 18px;line-height: 21px;letter-spacing: -0.03em;color: #007CBC;}
.title-emas-nero{font-family: Arial;font-style: normal;font-weight: bold;font-size: 20px;line-height: 23px;letter-spacing: -0.03em;color: #333333; border-top: 1px solid #000; padding-top: 5px;}
/*scorer*/
.stage-wrapper{ position: relative; margin-top: 0px; }
#score_wrapper{position:absolute;top: -60px; right: 0 !important; z-index: 10;width: 350px;height: 350px;}
#score_wrapper p{ text-align: center; margin-bottom: 60px;}
#circonferenza{margin: auto;width: 250px;height: 250px;border: 0px solid #000;position: relative;background-image: url('../images/emas/relative-meter-scale.png');background-size: 250px 250px;background-repeat: no-repeat;margin-top: 47px !important; margin-left: 45px;}
#points{width: 190px;height: 190px;margin: auto;border-radius: 95px;position: absolute;z-index: 2;top: 25px;left: 27px;}
#points .point{color: #FD9727;text-align: center;margin-left: 1px;margin-top: 70px;margin-bottom: 0;font-size: 51px;font-style: normal;font-weight: 700;line-height: 58px;letter-spacing: 0em;}
#wrapper_circonferenza{background-size: 339px 339px;background-position-x: 0;background-position-y: 3px;background-repeat: no-repeat;position: absolute;top: 20px;width: 350px;height: 350px;}
.messages{ position: absolute; top: -40px; left: 185px; width: 50%; }
#you_wrapper{margin: 0px;width: 248px;height: 248px;position: absolute;top: 0;left: 0;z-index: 5;-webkit-animation-iteration-count:1;-webkit-animation-timing-function:linear;-webkit-animation-name:orbit;-webkit-animation-duration:2s;animation-fill-mode: forwards;}
#you{width: 30px;height: 30px;border-radius: 15px;position: absolute;top: 200px;left: 30px;z-index: 4;}
.titolo-destra{ font-style: normal; font-weight: 400; font-size: 17px; line-height: 20px; text-align: right; letter-spacing: 0.02em; margin-top: 5px; margin-bottom: 0; }
.titolo-destra a{ color:#FFA042; font-weight: 700; }
.arancione{ color: #FFA042; font-weight: 700; }
/*Category*/
.wrapper-category{background: rgba(204, 67, 75, 0.1); border-radius: 20px; display: flex; margin-top: 90px; height: 68px;}
.wrapper-category .category-name{background: #CC434B; border-radius: 20px; font-family: Arial;font-style: normal;font-weight: bold;font-size: 48px;line-height: 68px;letter-spacing: -0.03em;font-feature-settings: 'kern' off;color: #FFFFFF; margin-left: -10px; padding: 0 20px;}
.wrapper-category .category-desc{font-family: Arial; font-style: normal; font-weight: bold; font-size: 16px; line-height: 18px; text-align: center; letter-spacing: -0.03em; color: #CC434B; align-items: center; display:flex; justify-content: center; }
/*
.wrapper-category .category-name-1{ width: 374px;}
.wrapper-category .category-name-2{ width: 205px;}
.wrapper-category .category-name-3{ width: 295px;}
.wrapper-category .category-desc-1{ width: 775px;}
.wrapper-category .category-desc-2{ width: 950px;}
.wrapper-category .category-desc-3{ width: 860px;}
*/
.wrapper-category .category-desc-1{ width: 100%;}
.wrapper-category .category-desc-2{ width: 100%;}
.wrapper-category .category-desc-3{ width: 100%;}
/**/
.form-login-link{ text-align: center; margin-top: 20px; }
.form-login-link a{font-family: Arial; font-style: normal; font-weight: normal; font-size: 16px;  line-height: 38px; display: block; text-align: center; letter-spacing: 0.04em; color: #333333; width: 178px; height: 37px; background: #FFA042; border-radius: 30px; margin: auto; }
problems-list-title, .solutions-list-title{font-family: Arial;font-style: normal;font-weight: bold;font-size: 24px;line-height: 28px;letter-spacing: -0.03em;color: #333333;}
.problems-wrapper{ margin-top: 50px;}
.sproblem{ padding: 16px; background-color: #EFEFEF; border-radius: 5px; margin-top: 30px;}
.single-psolution{ padding: 16px; background-color: #FFE1C3; border-radius: 5px; margin-top: 30px;}
.single-sproblem{ background: #FFFFFF; padding: 16px 0; }

.single-problem .problem{ display: flex;}
.single-problem .problem .problem-counter{ width: 30px; font-family: Arial; font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; letter-spacing: -0.03em; color: #333333; margin-right: 5px;}
.single-problem .problem .problem-text{font-family: Arial;font-style: normal;font-weight: normal;font-size: 17px; line-height: 20px; letter-spacing: 0.02em; color: #333333;}
.problem-form{ margin-top: 50px; padding-top: 30px; border-top: 3px dashed #EFEFEF; }
.emas textarea{ border: 2px dashed #86868B; box-sizing: border-box; border-radius: 5px;font-family: Arial; font-style: normal;  font-weight: normal; font-size: 17px; line-height: 20px; letter-spacing: 0.02em; color: #333333; width: 100%; padding: 8px;}
.wrapper-after-textarea{ display:flex; justify-content: space-between; margin-top: 16px;}
input[type="submit"].submit-idea-button, input[type="button"].btn-orange{ background: #FFA042; border-radius: 30px;font-family: Arial; font-style: normal; font-weight: normal; font-size: 16px; line-height: 18px; text-align: center; letter-spacing: 0.04em; color: #333333; }
.single-problem-edit { margin-top: 30px; border: 2px dashed #FFA042; box-sizing: border-box; border-radius: 5px; }
.single-problem-edit textarea{ border:0; }
.single-problem-edit .wrapper-after-textarea{ margin: 12px;}
.problem{ display: flex }
.solutions-wrapper, .solutions-shortlisted-wrapper{ margin-top: 50px; background-image: url(../images/emas/ligature.png); background-repeat: repeat-y; background-position: right; }
.solutions-wrapper, .solutions-shortlisted-wrapper:first-child{ margin-top: 0; }
.single-solution{ background: #FFE1C3; border-radius: 5px; margin-top: 30px; padding: 16px; }
.single-solution .solution{ display: flex;}
.single-solution .solution .solution-counter{ width: 30px; font-family: Arial; font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; letter-spacing: -0.03em; color: #333333; margin-right: 5px;}
.single-solution .solution .solution-text{font-family: Arial;font-style: normal;font-weight: normal;font-size: 17px; line-height: 20px; letter-spacing: 0.02em; color: #333333;}
.single-solution-edit { margin-top: 30px; border: 2px dashed #FFA042; box-sizing: border-box; border-radius: 5px; }
.single-solution-edit textarea{ border:0; }
.single-solution-edit .wrapper-after-textarea{ margin: 12px;}
.emas.solution .problem-counter, .emas.rating .problem-counter{/* display: none;*/ }
.solution .button-solution,  .button-problem{ display: none; }
.rating .button-solution,  .button-problem{ background-color: #FFF;  width: 150px; margin: 10px 20px 20px 20px  }
.rating .button-solution .reject-solution, .reject-problem{ display: block; background-image: url('../images/emas/check-ko.png'); background-repeat: no-repeat; background-position: center left; background-size: 30px; padding-left: 40px; height: 30px; line-height: 30px; font-family: Arial; font-style: normal; font-weight: bold; font-size: 14px; letter-spacing: -0.03em; color: #000; position: absolute; left: 15px; bottom: 15px; }
.rating .button-solution .accept-solution, .accept-problem { display: block; background-image: url('../images/emas/check-ok.png'); background-repeat: no-repeat; background-position: center left; background-size: 30px; padding-left: 40px; height: 30px; line-height: 30px; font-family: Arial; font-style: normal; font-weight: bold; font-size: 14px; letter-spacing: -0.03em; color: #000000; position: absolute; left: 15px; top: 15px; }
#solutions-list-accepted .single-solution, #problems-list-accepted .single-problem{ background: #F1F8D9; }
#solutions-list-accepted .single-solution .solution-text { width: 90%; max-width: 940px; }
#solutions-list-rejected .single-solution, #problems-list-rejected .single-problem{ background-color: rgba(204, 67, 75, 0.3); }
#solutions-list-rejected .accept-solution { margin-left: 0; }
.rating .single-solution { background-color: #FFF295; }
.investor .single-solution { background-color: #F1F8D9; }
.investor .solution .solution-text{ width: 972px; }
.investor .solution .idea_buttons{ width: 100px; height: 100px; display: flex; background-color: #FFF; border-radius: 100px; margin:10px; padding-top: 34px; border: 2px solid #BBDD3F;  }
.solutions-shortlisted-wrapper{ position: relative; }
.solutions-shortlisted-wrapper .submit-idea-button{ display: block; margin: auto; }
#solutions-list-accepted .solution, #problems-list-accepted .problem{ position: relative; }
#solutions-list-accepted .solution .shortlist, #problems-list-accepted .problem .shortlist { position: absolute; top: 15px; right: 20px; }
.investor-post { margin-top: 150px; margin-bottom: 100px; }
.investor-post h1{font-family: Arial;  font-style: normal; font-weight: bold; font-size: 48px; line-height: 50px; text-align: center; letter-spacing: -0.03em; color: #333333;}
.investor-post p{font-family: Arial;  font-style: normal; font-weight: bold; font-size: 30px; line-height: 34.5px; text-align: center; letter-spacing: -0.03em; color: #333333; margin-top: 24px;}
.form-idea-note{ margin-top: -5px !important; text-align: left !important;  color: #86868B; font-family: Arial; font-style: normal; font-weight: normal; font-size: 12px; line-height: 13.8px; letter-spacing: 0.02em; }
input[type="submit"].submit-idea-button, input[type="button"].btn-orange{ background: #FFA042; border-radius: 30px;font-family: Arial; font-style: normal; font-weight: normal; font-size: 16px; line-height: 18px; text-align: center; letter-spacing: 0.04em; color: #333333; padding: 6px 12px; border: 0; }
.bonus-points{font-family: Arial; font-style: normal; font-weight: bold; font-size: 130px; line-height: 149px; text-align: center; color: #FD9727; width: 760px; background-color: #000; border-radius: 40px; position: fixed; bottom: 40px; left: 50%; transform: translateX(-50%); display: none;}
.wrapper_funding { position: relative; }
.wrapper_funding_idea{ display: flex;}
.wrapper_funding_idea .idea_title { background-color: #EFEFEF; border-radius: 5px; padding: 5px; margin-bottom: 5px; width: 570px; cursor: pointer;}
.wrapper_funding_idea .idea_buttons { width: 200px; padding: 0 5px; display: flex; flex-grow: 1;}
.myval { background-color: #FFA042; color: #FFF; border-radius: 5px; padding: 5px; width: 30px; height: 32px; }
.minus, .plus{ padding: 0 5px; width: 30px; cursor: pointer; font-size: 18px; line-height: 28px; }
input[type="submit"].submit-idea-button, input[type="button"].btn-orange{ background: #FFA042; border-radius: 30px;font-family: Arial; font-style: normal; font-weight: normal; font-size: 16px; line-height: 18px; text-align: center; letter-spacing: 0.04em; color: #333333; }
.submit-idea-button{ height: 37px; width: 176px; border-radius: 30px; background-color: #FFA042; font-family: Arial; font-style: normal; font-weight: normal; font-size: 16px;
line-height: 18px; display: block; text-align: center; letter-spacing: 0.04em; color: #333333; padding: 10px 0; }
.submit-idea-button:hover, .submit-idea-button:visited, .submit-idea-button:active{color: #333333 !important;}
/*winner*/
#celebration{ position: absolute; width: 100%; z-index: 100; height: 400px; overflow: hidden; }
.winner_players_header, .winner_players_body{ display: flex }
.winner_players{ font-family: Arial; font-style: normal; font-weight: bold; font-size: 21px; line-height: 21px; align-items: center; color: #333333; }
.winner_header_r, .winner_players_body_r{ width: 83px; padding: 5px;}
.winner_header_n, .winner_players_body_n{ width: 470px; padding: 5px;}
.winner_header_s, .winner_players_body_s{ width: 150px; padding: 5px;}
.winner_header_s { border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.winner_players_body_s{ text-align: center; }
.wpb1{ background-color: #B29DE1; }
.wpb2{ background-color: #CFC3EC; }
.wpb3{ background-color: #E9E3F6; }
.wpb4, .wpb5, .wpb6, .wpb7, .wpb8, .wpb9, .wpb10{ background-color: #EFEFEF; }
.wpb1.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb2.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb3.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb4.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb5.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb6.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb7.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb8.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb9.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }
.wpb10.winner_players_body_r:not(:empty){ border-top-left-radius: 5px; }

.winner_players_body1 .winner_players_body_r{ border-bottom-left-radius: 5px; }
.winner_players_body2 .winner_players_body_r{ border-bottom-left-radius: 5px; }
.winner_players_body3 .winner_players_body_r{ border-bottom-left-radius: 5px; }
.winner_players_body4 .winner_players_body_r{ border-bottom-left-radius: 5px; }
.winner_players_bodyx:nth-child(2) .winner_players_body_r{ border-bottom-left-radius: 5px; }
.winner_players_body:last-child .winner_players_body_r{ border-bottom-left-radius: 5px; }

.winner_players_body1, .winner_players_body2, .winner_players_body3, .winner_players_body4, .winner_players_body5, .winner_players_body6, .winner_players_body7, .winner_players_body8, .winner_players_body9, .winner_players_body10{ margin-top: 5px;}

.emas-winning-title{ font-family: Arial; font-style: normal;  font-weight: bold; font-size: 48px; line-height: 50px;  text-align: center; letter-spacing: -0.03em; font-feature-settings: 'kern' off; color: #333333;}
.emas_winner_players_body_r{ width: 150px; text-align: right; }
.emas_winner_players_body_n{ width: 750px; margin:0 20px; font-family: Arial; font-style: normal; font-weight: normal; font-size: 17px; line-height: 20px; letter-spacing: 0.02em; color: #333333;}
.emas_winner_players_body_s { text-align: center; width: 300px; }
.emas_winner_players_body_s .wteam{ /*width: 50px;*/ text-align: center; background: #FFFFFF; border: 1px solid #BDABE5; box-sizing: border-box;  border-radius: 10px; font-family: Arial; font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; text-align: center; letter-spacing: -0.03em; color: #9173D4; padding: 6px; height: 42px; }

.emas_winner_players_body_r.red{ color: #CC434B; }
.emas_winner_players_body_n.red{ color: #CC434B; }
.emas_winner_players_body_s.red{ color: #CC434B;  }

.emas_winner_players_body{ margin-bottom: 30px; display: flex; }
.emas-winning-categories-title{ font-family: Arial; font-style: normal; font-weight: bold; font-size: 26px; line-height: 30px; text-align: center; color: #9173D4; }
.emas-winning-categories-text{ font-family: Arial; font-style: normal; font-weight: normal; font-size: 16px; line-height: 18px; text-align: center; color: #000000; }
.emas-winning-categories-wrapper{ display: block; text-align: center; }
.emas-winning-categories-w{ display: flex; background: #9173D4; border-radius: 10px; padding: 16px; width: 210px;font-family: Arial; font-style: normal; font-weight: bold; font-size: 50px; line-height: 57px; display: block; text-align: center;   color: #FFFFFF; margin: 10px auto; }
.emas-winning-categories-ww{ display: flex; background: #B29DE1; border-radius: 10px; padding: 16px; width: 210px;font-family: Arial; font-style: normal; font-weight: bold; font-size: 50px; line-height: 57px; display: block; text-align: center; color: #FFFFFF; margin: 10px auto; }
.emas-winning-categories-www{ display: flex; background: #CFC3EC; border-radius: 10px; padding: 16px; width: 210px;font-family: Arial; font-style: normal; font-weight: bold; font-size: 50px; line-height: 57px; display: flex; align-items: center;   color: #FFFFFF; margin: 10px; }
.emas-winning-categories-w-pool{ display: flex; background: #9173D4; border-radius: 10px; padding: 16px; width: 150px;font-family: Arial; font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; letter-spacing: -0.03em; color: #FFFFFF; height: 60px;}
/*footer*/
.footer{ margin-top: 30px !important; margin-bottom: 30px; padding-top: 30px; border-top: 1px solid #EFEFEF; justify-content: space-between; }
.footer .ll{ font-size: 20px; font-weight: 400; margin-top: 18px; }
.footer .destra{ text-align: right; }
.footer img{ width:270px; }
/*form problem*/
.problem-form #info, .problem-form #editForm{  position: relative; }
.problem-form #target{  border: 2px dashed #FFA042; box-sizing: border-box; border-radius: 20px;  padding: 20px; position: relative; }
.wrapper-problem-input{ display: flex; margin-bottom: 10px; }
.wrapper-problem-input .wrapper-text{ width: 200px; text-align: right; padding-right: 12px; }
.wrapper-problem-input .wrapper-input{ width: 100%; }
.wrapper-problem-input .wrapper-text .text1 { font-family: 'Arial'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 16px; text-align: right;
letter-spacing: 0.02em; color: #333333; margin: 8px 0 4px 0; }
.wrapper-problem-input .wrapper-text .text2 { font-family: 'Arial'; font-style: normal; font-weight: 400; font-size: 12px; line-height: 14px; text-align: right; letter-spacing: 0.02em; color: #86868B;  }
.wrapper-problem-input .wrapper-input textarea { border: 2px solid #EFEFEF; box-sizing: border-box; border-radius: 5px; font-family: 'Arial'; font-style: normal; font-weight: 400; font-size: 14px; line-height: 16px; letter-spacing: 0.02em; color: #333333; display: block; }
.wrapper-problem-input .wrapper-input .msg-left{ font-family: 'Arial'; font-style: normal; font-weight: 400; font-size: 12px; line-height: 14px; letter-spacing: 0.02em; color: #86868B;}
.problem-form [type="submit"] { position: absolute; bottom: -50px; right: 0px; background: #FFA042; border-radius: 30px; border: 0; padding:6px 20px; }
.problem-form [type="button"].edit-form { position: absolute; bottom: -50px; right: 0px; background: #FFA042; border-radius: 30px; border: 0; padding:6px 20px; }
.problem-form .delete-problem { position: absolute; bottom: -50px; right: 150px; background: #FFA042; border-radius: 30px; border: 0; padding:6px 20px; }
/*visual problem*/
.single-problem.template{ display: none; }
.single-problem{ background: #EFEFEF; border-radius: 20px; /* margin-top: 30px; */ display: flex; position: relative; margin-bottom: 30px; }
.single-problem .title{position: absolute; width: 40px; height: 40px; left: 10px; top: 10px; background: #FFFFFF; border-radius: 20px;}
/*.single-problem.rating .title{left: 280px; }*/
.single-problem .title .title-int{font-family: 'Arial';font-style: normal;font-weight: 700;font-size: 20px;line-height: 40px;text-align: center;letter-spacing: -0.03em;color: #000000;}
.single-problem .heading{ width: 100px; margin: 0 0 0 80px; padding: 20px 20px 0  0; border-right: 1px dashed #BEBEBF; }
.single-problem .heading p{ padding-bottom: 6px; font-family: 'Arial'; font-style: normal; font-weight: 700; font-size: 9px; line-height: 10px; text-align: right; letter-spacing: 0.02em; color: #86868B; /* height: 32px; */ }
.single-problem .problem-text {padding: 16px 20px 0 20px; width: 100%;}
.single-problem .problem-text p{font-family: 'Arial'; font-style: normal; font-weight: 400; font-size: 14px; line-height: 16px; letter-spacing: 0.02em;color: #333333; margin-bottom: 16px; /* height: 32px; */ }
.single-problem .problem-text p:first-child{ font-weight: 700; }

.rating.single-problem{ background-color: #FFF; border: 4px solid #EFEFEF; border-radius: 20px;}
.rating.single-problem .title { left: 165px; }
.rating .heading { border-top-left-radius: 20px; border-bottom-left-radius: 20px; background-color: #EFEFEF; margin: 0; width: 180px; }
.rating .problem-text{ background-color: #EFEFEF; width: 101%; border-top-right-radius: 14px; border-bottom-right-radius: 14px;  }

#problems-list-accepted .rating.single-problem{ background-color: #FFF; border: 4px solid #F1F8D9; border-radius: 20px;}
#problems-list-accepted .rating .heading { background-color: #F1F8D9; }
#problems-list-accepted .rating .problem-text { background-color: #F1F8D9; 
}
#problems-list-rejected .rating.single-problem { background-color: #FFF; border: 4px solid #FFDFE1; border-radius: 20px;}
#problems-list-rejected .rating .heading {background-color: #FFDFE1}
#problems-list-rejected .rating .problem-text {background-color: #FFDFE1}

#problems-list-shortlisted .single-problem{ margin-bottom: 10px; margin-top: 10px; clear: both; }
.add-solution {  position: relative; float: right; margin-bottom: 10px; background: #FFA042; border-radius: 30px; border: 0; padding:6px 20px; }
.wrapper-form-solution{ margin-left: 180px; }
.problem-form.problem-form-insert.solution-form-insert { display: none; }
#problems-list-shortlisted .problem-form{ border-top: 0; margin-top: 20px; }
.template-2{ display:none; }
.wrapper-solutions .single-problem { margin-left: 178px; background-color: #FFF295;}
#problems-list-shortlisted .wrapper-problem-input:nth-child(4){ display: none; }
#problems-list-shortlisted .wrapper-problem-input:nth-child(5){ display: none; }
#problems-list-shortlisted .wrapper-problem-input:nth-child(6){ display: none; }
/*
.edit-problem.edit-form{ background: #FFA042; border-radius: 30px;font-family: Arial; font-style: normal; font-weight: normal; font-size: 16px; line-height: 18px; text-align: center; letter-spacing: 0.04em; color: #333333; }
*/
.solution-n, .solution-n .heading, .solution-n .problem-text { background-color: #FFF295;}
.solution-a, .solution-a .heading, .solution-a .problem-text { background-color: #F1F8D9 !important;}
.solution-r, .solution-r .heading, .solution-r .problem-text { background-color: #FFDFE1 !important;}
.wrapper-solutions .single-solution.solution-n{ padding: 0; margin-left: 0; background-color: #FFF; }
.wrapper-solutions .single-solution.solution-n .button-solution{ border-top-left-radius: 20px; border-bottom-left-radius: 20px; border: 4px solid #FFF295; margin: 0; padding: 20px; width: 205px; }
.wrapper-solutions .single-solution.solution-n .title{ left: 170px;}
.wrapper-solutions .single-solution.solution-n .heading{ background-color: #FFF295; border-top-left-radius: 0; border-bottom-left-radius: 0;}
.wrapper-solutions .single-solution.solution-n .problem-text{ background-color: #FFF295;}
.wrapper-solutions .single-solution.solution-n .reject-problem { bottom: 15px; left: 15px; }

.wrapper-solutions .single-solution.solution-a{ padding: 0; margin-left: 0; background-color: #FFF; }
.wrapper-solutions .single-solution.solution-a .button-solution{ border-top-left-radius: 20px; border-bottom-left-radius: 20px; border: 4px solid #F1F8D9; margin: 0; padding: 10px 20px 20px 20px; width: 205px; }
.wrapper-solutions .single-solution.solution-a .title{ left: 170px;}
.wrapper-solutions .single-solution.solution-a .heading{ background-color: #F1F8D9; border-top-left-radius: 0; border-bottom-left-radius: 0;}
.wrapper-solutions .single-solution.solution-a .problem-text{ background-color: #F1F8D9;}
.wrapper-solutions .single-solution.solution-a .reject-problem { bottom: 15px; }

.wrapper-solutions .single-solution.solution-r{ padding: 0; margin-left: 0; background-color: #FFF; }
.wrapper-solutions .single-solution.solution-r .button-solution{ border-top-left-radius: 20px; border-bottom-left-radius: 20px; border: 4px solid #FFDFE1; margin: 0; padding: 20px; width: 205px; }
.wrapper-solutions .single-solution.solution-r .title{ left: 170px;}
.wrapper-solutions .single-solution.solution-r .heading{ background-color: #FFDFE1; border-top-left-radius: 0; border-bottom-left-radius: 0;}
.wrapper-solutions .single-solution.solution-r .problem-text{ background-color: #FFDFE1;}
.wrapper-solutions .single-solution.solution-r .reject-problem { bottom: 15px; left: 15px }

#investor .single-solution { background-color: #FFF; margin-left: 0; padding: 0; }
#investor .wrapper-solutions .single-solution.solution-sl .button-solution{ border-top-left-radius: 20px; border-bottom-left-radius: 20px; border: 4px solid #F1F8D9; margin: 0; padding: 20px; width: 240px; display: flex; background-image: url('../images/emas/gold-bag.png'); background-repeat: no-repeat; background-position: center 35px; background-size: 80px 86px; }
#investor .wrapper-solutions .single-solution.solution-sl .title{ left: 190px;}
#investor .wrapper-solutions .single-solution.solution-sl .heading{ background-color: #F1F8D9; border-top-left-radius: 20px; border-bottom-left-radius: 20px; margin-left: -20px; width: 180px;}
#investor .wrapper-solutions .single-solution.solution-sl .problem-text{ background-color: #F1F8D9; width: 100%; border-top-right-radius: 20px; border-bottom-right-radius: 20px;  }
#investor .minus{ font-family: 'Arial'; font-style: normal; font-weight: 400; font-size: 36px; line-height: 34px; letter-spacing: 0.04em; color: #333333; padding-top:40px; cursor: pointer;  }
#investor .plus{ font-family: 'Arial'; font-style: normal; font-weight: 400; font-size: 36px; line-height: 34px; text-align: right; letter-spacing: 0.04em; color: #333333;  padding-top: 40px; padding-left: 80px; cursor: pointer; }
#investor .value { position: absolute; width: 42px; height: 42px; border: 0px solid #F1F8D9; box-sizing: border-box; border-radius: 21px; font-family: 'Arial'; font-style: normal; font-weight: 700; font-size: 25px; line-height: 42px; text-align: center; letter-spacing: 0.02em;  color: #FFA042; margin: 7px 30px 0 30px; padding: 0px; background-color: #FFF; left: 40px; top: 65px; }

.shortlist-problem img{ margin-left: -8px; margin-top: 0; margin-right: 3px;}
.shortlist-problem span{ font-family: 'Arial'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 16px; letter-spacing: -0.03em; color: #000000; }
.wrapper-form-solution p {font-family: 'Arial'; font-style: normal; font-weight: 700; font-size: 16px; line-height: 18px; letter-spacing: -0.03em; color: #333333;}
.solution-title { font-family: 'Arial'; font-style: normal; font-weight: 700; font-size: 20px; line-height: 18px; letter-spacing: -0.03em; color: #333333; margin-left: 178px; }
.solution-rating-title{ font-family: 'Arial'; font-style: normal; font-weight: 700; font-size: 20px; line-height: 23px; letter-spacing: -0.03em; color: #333333; margin: 10px 0 10px 155px; }
.single-solution { margin-top: 0; }
#investor .solution-rating-title{ margin-left: 175px;}
.investor-title{ font-family: 'Arial'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 28px;letter-spacing: -0.03em;color: #333333; margin-top: 60px; margin-bottom: 20px; }
#newname{ padding: 6px; border: 0; }
.wrapper-input p span{ font-family: 'Arial'; font-style: normal; font-weight: 400; font-size: 12px; line-height: 14px; letter-spacing: 0.02em; color: #86868B; }
.wrapper-input p { margin-top: 0px; }
/* #problems-list-shortlisted .textarea_2, #problems-list-shortlisted .textarea_3, #problems-list-shortlisted .textarea_4 { display: none; } */
#problems-list-shortlisted .single-problem .title {top: 10px; left: 10px; }
#problems-list-shortlisted .wrapper-solutions  .single-problem .title {top: 10px; }
#problems-list-shortlisted .wrapper-solutions  .textarea_2, #problems-list-shortlisted .wrapper-solutions  .textarea_3, #problems-list-shortlisted .wrapper-solutions  .textarea_4 { display: block; }
.problem-separator-wrapper { height: 90px; background-color: #FFF;}
.problem-separator-wrapper .problem-separator { height: 60px; border-bottom: 3px dashed #EFEFEF; background-color: #FFF; }
.problem-separator-wrapper .problem-separator-2 { height: 45px; border-bottom: 3px dashed #EFEFEF; background-color: #FFF; }
.single-problem .problem-text p.textarea_4, .single-problem .heading p.textarea_4 { margin-bottom: 12px;}
.problems-list-accepted-title, .problems-list-rejected-title{ font-family: 'Arial'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 28px; letter-spacing: -0.03em; color: #333333; }
#problems-list-shortlisted .single-problem{ padding: 0;}
#problems-list-shortlisted .heading .textarea_1, #problems-list-shortlisted .problem-text .textarea_1 { margin-bottom: 15px; margin-top: 8px; }
.subtitle-proposed, .problems-list-title {font-family: 'Arial'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 28px; letter-spacing: -0.03em; color: #333333; }
#solutions-list .single-problem{ margin-bottom: 0; }
.subtitle-proposed { background-color: #FFF; margin-bottom: 0; padding-bottom: 12px; }
#solutions-list .single-problem.solution-sl, #solutions-list .single-problem.solution-n, #solutions-list .single-problem.solution-a, #solutions-list .single-problem.solution-r { margin-bottom: 30px; }
#solutions-list .single-problem.solution-sl:last-child, #solutions-list .single-problem.solution-n:last-child, #solutions-list .single-problem.solution-a:last-child, #solutions-list .single-problem.solution-r:last-child { margin-bottom: 0; }
.wrapper-solutions{ padding-top: 20px; }

#solutions-list .single-problem .heading p { display:none; }
#solutions-list .single-problem .problem-text p { display:none; }
#solutions-list .single-problem .heading p:first-child { display:block; padding-bottom: 10px;; }
#solutions-list .single-problem .problem-text p:first-child { display:block; padding-bottom: 10px; }
#solutions-list .single-problem.single-solution .heading p { display:block; }
#solutions-list .single-problem.single-solution .problem-text p { display:block; }
.winner_players_body { display:none; }
.next-stage{ padding: 9px 23px; background: #007CBC; border-radius: 30px; font-family: 'Arial'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 18px; text-align: center; letter-spacing: 0.04em; color:#FFF; margin-top: 30px; display: block; width: 200px; margin: 60px auto 0; }
a.next-stage:hover{ color:#FFF !important; }

#topic-2, #topic-3{ display: none; }